/* mission */
.ab-mission {
  margin-bottom: 60px;
}
@media (min-width: 48rem) {
  .ab-mission {
    margin-bottom: 160px;
  }
}

/* teachers */
.ab-teachers {
  margin-bottom: 60px;
}
.ab-teachers__heading {
  grid-column: 1/16;
}
/* teachers--card layout */
.ab-teachers__card-wrapper {
  margin-bottom: 30px;
}
.ab-teachers__card-wrapper.a,
.ab-teachers__card-wrapper.c {
  grid-column: 1/8;
}
.ab-teachers__card-wrapper.b,
.ab-teachers__card-wrapper.d {
  grid-column: 9/16;
}
@media (min-width: 48rem) {
  .ab-teachers {
    margin-bottom: 160px;
  }
  .ab-teachers__card-wrapper {
    margin-bottom: 60px;
  }
  .ab-teachers__card-wrapper.a {
    grid-column: 2/7;
  }
  .ab-teachers__card-wrapper.b {
    grid-column: 10/15;
  }
  .ab-teachers__card-wrapper.c {
    grid-column: 2/7;
  }
  .ab-teachers__card-wrapper.d {
    grid-column: 10/15;
  }
}
@media (min-width: 64rem) {
  .ab-teachers {
    margin-bottom: 160px;
  }
  /* teachers--card layout */
  .ab-teachers__card-wrapper.a {
    grid-column: 1/4;
  }
  .ab-teachers__card-wrapper.b {
    grid-column: 5/8;
  }
  .ab-teachers__card-wrapper.c {
    grid-column: 9/12;
  }
  .ab-teachers__card-wrapper.d {
    grid-column: 13/16;
  }
}

/* values */
.ab-values {
  margin-bottom: 60px;
}
.ab-values > div:first-of-type {
  margin-bottom: 40px;
}

/* values--card layout */
.ab-values__card-wrapper.t0 {
  grid-column: 1/16;
  margin-bottom: 40px;
}
.ab-values__card-wrapper.t1 {
  grid-column: 1/16;
  margin-bottom: 40px;
}
@media (min-width: 48rem) {
  .ab-values {
    margin-bottom: 160px;
  }
  .ab-values > div:first-of-type {
    margin-bottom: 60px;
  }
}
@media (min-width: 64rem) {
  .ab-values {
    margin-bottom: 160px;
  }
  .ab-values > div:first-of-type {
    margin-bottom: 60px;
  }
  .ab-values__card-wrapper.t0 {
    grid-column: 4/13;
    margin-bottom: 40px;
  }
  .ab-values__card-wrapper.t1 {
    grid-column: 4/13;
    margin-bottom: 40px;
  }
}
@media (min-width: 75rem) {
  .ab-values {
    margin-bottom: 160px;
  }
  .ab-values > div:first-of-type {
    margin-bottom: 60px;
  }
  .ab-values__card-wrapper.t0 {
    grid-column: 1/8;
    margin-bottom: 40px;
  }
  .ab-values__card-wrapper.t1 {
    grid-column: 9/16;
    margin-bottom: 40px;
  }
}

/* history */
