/* wrappers */
.au-wrapper {
  margin: 50px 20px 100px 20px;
}
.au-wrapper__inner {
  margin: 0 auto;
  padding: 30px;
  max-width: 380px;
  background-color: var(--color-brand-white);
  border-radius: var(--radius-small);
  box-shadow: 0px 0px 4px 0px rgba(88, 63, 25, 0.2);
}

@media (min-width: 48rem) {
  .au-wrapper {
    margin: 60px 30px 120px 30px;
  }
  .au-wrapper__inner {
    max-width: 480px;
    padding: 50px;
    border-radius: var(--radius-medium);
  }
}
/* header */
.au-header {
  padding: 0 0 var(--r20px) 0;
}
.au-header__title {
  margin: 0;
  line-height: 1.1;
  text-align: center;
  font-family: var(--font-en-primary);
  font-weight: 600;
  font-size: var(--font-size-3xl);
  color: var(--color-brand-green);
  text-transform: capitalize;
}
.au-header__subtitle {
  margin: var(--r10px) 0;
  line-height: 1.1;
  text-align: center;
  font-family: var(--font-en-primary);
  font-weight: 600;
  font-size: var(--font-size-s);
  color: var(--color-brand-brown);
}

@media (min-width: 48rem) {
  .au-header__title {
    font-size: var(--font-size-5xl);
  }
  .au-header__subtitle {
    margin: var(--r15px) 0;
    font-size: var(--font-size-l);
  }
}
@media (min-width: 64rem) {
  .au-header__title {
    font-size: calc(var(--r20px) * 2 + var(--r8px));
  }
  .au-header__subtitle {
    margin: var(--r15px) 0;
    font-size: var(--font-size-l);
  }
}

/* form */
.au-form__top-message {
  text-align: left;
  font-size: var(--r12px);
}
.au-form__top-message > p {
  margin-bottom: 5px;
}
.au-form__top-message > ul {
  list-style-position: outside;
  padding-left: 15px;
}
.au-form__message {
  max-width: 500px;
  text-align: center;
  font-size: var(--r12px);
}
.au-form__message > p {
  margin-bottom: 5px;
}

.au-form__submit > button:disabled {
  background-color: var(--color-sec-lightgrey);
  color: var(--color-brand-green);
  border: 2px solid var(--color-sec-lightgrey);
  cursor: not-allowed;
}

/* footer */

.au-footer {
  padding: 40px 0 0 0;
  text-align: left;
  font-size: var(--r12px);
}
.au-footer > p {
  margin-bottom: 5px;
}
.au-footer > ul {
  list-style-position: outside;
  padding-left: 15px;
}
