/*
* ======== Detail Pages =======
*/
/* Common */
.cn-dp__show-hide {
  background-color: var(--color-brand-green);
  border: solid 2px var(--color-brand-green);
  margin: 15px 0 30px 0;
}
.cn-dp__show-hide > summary {
  background-color: var(--color-brand-green);
  padding: 10px;
  font-weight: 700;
  color: var(--color-brand-white);
}

.cn-dp__show-hide > div {
  background-color: var(--color-brand-white);
  padding: 10px;
  color: var(--color-brand-brown);
}
.cn-dp__show-hide > div > p {
  margin-bottom: 1rem;
}
.cn-dp__show-hide > div > h4 {
  margin-bottom: 1rem;
}

.cn-dp__figure {
  margin-bottom: 40px;
  display: flex;
  flex-direction: column;
}
.cn-dp__figure > figcaption {
  margin-top: 10px;
  font-size: var(--font-size-xs);
}
.cn-dp__figure.full-width {
  width: 100%;
}
.cn-dp__figure.text-width > figcaption {
  align-self: center;
}
@media (min-width: 48rem) {
  .cn-dp__figure {
    margin-bottom: 60px;
  }
  .cn-dp__figure > figcaption {
    margin-top: 20px;
    font-size: var(--font-size-s);
  }
}
@media (min-width: 64rem) {
  .cn-dp__figure.full-width > figcaption {
    align-self: flex-start;
    margin-left: 60px;
  }
  .cn-dp__figure.text-width > figcaption {
    align-self: flex-start;
  }
}

/* ====== Image Banner Detail Page === */
.cn-dp-ib-header > img {
  width: 100%;
  height: auto;
  margin-bottom: 40px;
}
.cn-dp-ib-details {
  padding-bottom: 50px;
}

@media (min-width: 30rem) {
}
@media (min-width: 48rem) {
}
@media (min-width: 64rem) {
  .cn-dp-ib-header > img {
    width: 100%;
    height: auto;
    margin-bottom: 60px;
  }
}
@media (min-width: 75rem) {
}
@media (min-width: 96rem) {
}

/* ====== Simple Color Banner === */
.cn-dp-scb-header {
  display: flex;
  flex-direction: column-reverse;
  justify-content: flex-start;
  max-width: 100%;
  overflow: hidden;
}

@media (min-width: 30rem) {
}
@media (min-width: 48rem) {
}
@media (min-width: 64rem) {
  .cn-dp-scb-header {
    flex-direction: row;
  }
}
@media (min-width: 75rem) {
}
@media (min-width: 96rem) {
}

/* side */
.cn-dp-scb-header__side {
  /* height: calc(100vh - 80px); */
  background-color: var(--color-brand-white);
  padding: 80px 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.cn-dp-scb-header__side > div {
  max-width: 450px;
}
.cn-dp-scb-header__side h2 {
  background-color: var(--color-brand-brown);
  color: var(--color-brand-white);
  padding: 5px 10px;
  text-align: center;
  margin-bottom: 3rem;
}
.cn-dp-scb-header__side h4 {
  display: flex;
  align-items: center;
  margin-bottom: var(--r8px);
}
.cn-dp-scb-header__side svg {
  margin-right: 10px;
}

@media (min-width: 48rem) {
  .cn-dp-scb-header__side {
    padding: 80px 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .cn-dp-scb-header__side > div {
    margin: 0 auto;
  }
}
@media (min-width: 64rem) {
  .cn-dp-scb-header__side {
    height: calc(100vh - 80px);
    flex: 0 1 45%;
    padding: 20px 20px 20px 60px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }
  .cn-dp-scb-header__side h2 {
    font-size: var(--font-size-2xl);
    padding: 5px 10px;
    text-align: center;
    margin-bottom: 1.5rem;
  }
  .cn-dp-scb-header__side h4 {
    font-size: var(--font-size-l);
    margin-bottom: var(--r6px);
  }
  .cn-dp-scb-header__side p {
    font-size: var(--font-size-s);
    margin-bottom: var(--r16px);
  }
}
@media (min-width: 96rem) {
  .cn-dp-scb-header__side {
    flex: 0 1 35%;
  }
}

/* main */
.cn-dp-scb-header__main {
  min-height: calc(100vh - 80px);
  background-color: var(--color-sec-light-blue);
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 40px 20px;
}
.cn-dp-scb-header__main > div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cn-dp-scb-header__main > div > div {
}
.cn-dp-scb-header__main__name {
  color: var(--color-brand-orange);
  text-shadow: 1px 1px 1px var(--color-brand-brown);
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
  text-align: center;
}
.cn-dp-scb-header__main__campaign {
  color: var(--color-brand-cream);
  text-shadow: 1px 1px 2px var(--color-brand-brown);
  font-weight: 700;
  font-size: 1.6rem;
  text-align: center;
}
.cn-dp-scb-header__main__offer {
  color: var(--color-brand-brown);
  text-shadow: 4px 4px 2px var(--color-brand-cream);
  font-weight: 700;
  font-size: 3rem;
  margin-bottom: 0.8rem;
  text-align: center;
}
.cn-dp-scb-header__main__tagline {
  color: var(--color-brand-cream);
  text-shadow: 1px 1px 2px var(--color-brand-brown);
  font-size: 1.3rem;
  font-weight: 700;
  text-align: center;
}
.cn-dp-scb-header__main__time {
  color: var(--color-brand-brown);
  font-size: 0.9rem;
  font-weight: 700;
  text-align: center;
}
a.cn-dp-scb-header__main__btn {
  background-color: var(--color-brand-orange);
  border: 2px solid var(--color-brand-orange);
  color: var(--color-brand-white);
  font-size: 1.3rem;
  font-weight: 700;
  padding: 10px 30px;
  border-radius: 100px;
  transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
}
a.cn-dp-scb-header__main__btn::before {
  content: none;
}
a.cn-dp-scb-header__main__btn:hover {
  background-color: var(--color-brand-white);
  color: var(--color-brand-orange);
}

@media (min-width: 48rem) {
  .cn-dp-scb-header__main {
    height: calc(100vh - 130px);
  }
}
@media (min-width: 64rem) {
  .cn-dp-scb-header__main {
    height: calc(100vh - 80px);
    flex: 0 1 55%;
  }
}
@media (min-width: 96rem) {
  .cn-dp-scb-header__main {
    padding: 60px;
    flex: 0 1 65%;
  }
  .cn-dp-scb-header__main > div {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .cn-dp-scb-header__main > div > div {
    width: fit-content;
    max-width: 800px;
  }
  .cn-dp-scb-header__main__name {
    color: var(--color-brand-orange);
    text-shadow: 1px 1px 2px black;
    font-weight: bold;
    font-size: 3.4rem;
    text-align: center;
  }
  .cn-dp-scb-header__main__campaign {
    color: var(--color-brand-cream);
    font-weight: bold;
    font-size: 3rem;
    text-align: center;
  }
  .cn-dp-scb-header__main__offer {
    color: var(--color-brand-brown);
    text-shadow: 6px 6px 6px var(--color-brand-cream);
    font-size: 6rem;
    text-align: center;
    line-height: 1.4;
  }
  .cn-dp-scb-header__main__tagline {
    color: var(--color-brand-cream);
    text-align: center;
    font-size: 2rem;
  }
  .cn-dp-scb-header__main__time {
    color: var(--color-brand-brown);
    font-size: 1.6rem;
    text-align: center;
  }
  a.cn-dp-scb-header__main__btn {
    background-color: var(--color-brand-orange);
    border: 4px solid var(--color-brand-orange);
    color: var(--color-brand-white);
    font-size: 1.8rem;
    padding: 10px 30px;
    border-radius: 100px;
    transition: background-color 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  a.cn-dp-scb-header__main__btn::before {
    content: none;
  }
  a.cn-dp-scb-header__main__btn:hover {
    background-color: var(--color-brand-white);
    color: var(--color-brand-orange);
  }
}

/* details */
.cn-dp-scb-details {
  background-color: var(--color-brand-cream);
  min-height: 400px;
  padding: 80px 20px 20px 20px;
  margin-bottom: 70px;
}

@media (min-width: 48rem) {
  .cn-dp-scb-details {
    padding: 80px 30px 20px 30px;
  }
}
@media (min-width: 64rem) {
  .cn-dp-scb-details > div {
    margin: 0 auto;
    max-width: 700px;
  }
}
