/*
* ======== Font Faces =======
*/

/* rubik-regular (400) - latin */
@font-face {
  font-display: fallback;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 400;
  src: local("Rubik"),
    url("/fonts/rubik-v28-latin-regular.woff2") format("woff2");
}

/* rubik-600 - latin */
@font-face {
  font-display: fallback;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  src: local("Rubik"), url("/fonts/rubik-v28-latin-600.woff2") format("woff2");
}
