/*
* Information (mp-info)
*/
.mp-info-index__inner {
  margin: 0 auto;
  max-width: 500px;
  background-color: var(--color-brand-white);
  box-shadow: 0px 0px 4px 0px rgba(88, 63, 25, 0.2);
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: var(--radius-small);
}
