/*
* Information (mp-info)
*/
.mp-info-index__inner {
  margin: 0 auto;
  max-width: 700px;
  background-color: var(--color-brand-white);
  box-shadow: 0px 0px 4px 0px rgba(88, 63, 25, 0.2);
  padding: 30px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: var(--radius-small);
}
.mp-info-index__inner__intro > p {
  margin: 0 0 10px 0;
  font-size: var(--font-size-s);
}
.mp-info-index__nav > ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 15px 20px;
}
.mp-info-index__nav__item {
  flex: 0 0 48%;
}
.mp-info-index__nav__item > a::before {
  content: none;
}
.mp-info-index__nav__item > a > article {
  border: solid 2px var(--color-brand-green);
  border-radius: 10px;
  min-height: 200px;
}
/* hover */
.mp-info-index__nav__item > a:hover header > div {
  color: var(--color-brand-orange);
}
.mp-info-index__nav__item header {
  background-color: var(--color-brand-green);
  border-radius: 6px 6px 0 0;
  color: var(--color-brand-white);
  padding: 12px;
  display: flex;
  height: 65px;
  align-items: center;
}
.mp-info-index__nav__item header > div {
  flex: 0 0 26%;
  height: 50px;
  display: flex;
  background-color: var(--color-brand-white);
  border-radius: 8px;
  color: var(--color-brand-green);
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-right: 15px;
}
.mp-info-index__nav__item header h3 {
  color: var(--color-brand-white);
  font-size: var(--font-size-s);
  font-weight: 700;
  margin: 0;
}
.mp-info-index__nav__item > a > article > div {
  padding: 10px 15px 0 10px;
  font-size: var(--font-size-xs);
  margin: 0;
}

.mp-info-index__nav__item h3 {
  font-size: var(--font-size-m);
  text-align: center;
  margin: 0 0 10px 0;
}
