/* my space profile (pr) */
.mp-pr-header h2 {
  text-align: center;
}
.mp-pr-main {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}
/* button */
.mp-pr-profile-flip-btn {
  position: absolute;
  right: 20px;
  bottom: 20px;
  width: 40px;
  height: 40px;
  background-color: var(--color-brand-beige);
  border: none;
  color: var(--color-brand-brown);
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 10px;
}
.mp-pr-profile-flip-btn > svg {
  fill: var(--color-brand-brown);
  width: 12px;
  height: 12px;
}

/* flip card foundation */
.mp-pr-profile-outer {
  width: 320px;
  height: 500px;
  background-color: transparent;
  perspective: 1000px;
  margin-top: 40px;
}
.mp-pr-profile-inner {
  position: relative;
  width: 100%;
  height: 100%;
  background-color: transparent;
  transition: transform 0.8s;
  transform-style: preserve-3d;
}
/* front table */
.mp-pr-profile-front {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: var(--radius-small);
  border: solid 0.5px #e1d0b5;
  -webkit-box-shadow: 0px 0px 5px 1px rgba(88, 63, 25, 0.3);
  box-shadow: 0px 0px 5px 1px rgba(88, 63, 25, 0.3);
}
.mp-pr-profile-front {
  background-color: var(--color-brand-white);
}
.mp-pr-profile-front__header {
  padding-top: 20px;
  height: 100px;
  background-color: var(--color-brand-beige);
  border-radius: var(--radius-small) var(--radius-small) 0 0;
  position: relative;
  color: white;
}
.mp-pr-profile-front__header > h2 {
  text-align: center;
  font-family: var(--font-en-primary);
  color: var(--color-brand-white);
  font-weight: 700;
}
.mp-pr-profile-front__header__icon {
  position: absolute;
  bottom: -32px;
  left: 0;
  right: 0;
  margin: auto;
  background-color: white;
  color: var(--color-brand-beige);
  width: max-content;
  height: max-content;
  border-radius: 100%;
  border: 2px solid var(--color-brand-white);
}
.mp-pr-profile-front__header__icon > svg {
  width: 60px;
  height: 60px;
}
.mp-pr-profile-front__detail {
  position: relative;
  padding: 50px 20px 20px 20px;
}
.mp-pr-profile-front__detail > table tr {
  height: 50px;
}
.mp-pr-profile-front__detail > table td:first-of-type {
  font-size: 10px;
  color: var(--color-brand-brown);
}
.mp-pr-profile-front__detail > table td:last-of-type {
  padding-left: 10px;
  font-size: 14px;
  color: var(--color-brand-brown);
  font-weight: 700;
}

/* back form */
.mp-pr-profile-form {
  position: absolute;
  width: 100%;
  height: 100%;
  -webkit-backface-visibility: hidden; /* Safari */
  backface-visibility: hidden;
  border-radius: var(--radius-small);
  padding: 30px;
}
.mp-pr-profile-form {
  background-color: var(--color-brand-white);
  color: white;
  transform: rotateY(180deg);
}
.mp-pr-profile-form__submit {
  padding-top: 0;
}

.mp-pr-profile-inner.show {
  transform: rotateY(180deg);
}

.mp-pr-form {
  background-color: var(--color-brand-white);
  padding: 20px;
  border-radius: var(--radius-small);
}
.mp-pr-form form {
  min-width: 280px;
}

@media (min-width: 64rem) {
  .mp-pr-form {
    padding: 40px;
    border-radius: var(--radius-medium);
  }
}
