/*
* Information (mp-info)
*/
/* Index */
.mp-info-index__inner__intro > p {
  margin: 0 0 10px 0;
  font-size: var(--font-size-s);
}
.mp-info-index__nav > ul {
  list-style: none;
  padding: 0;
}
.mp-info-index__nav__item {
  width: 100%;
  margin-bottom: 20px;
}
.mp-info-index__nav__item > li {
  display: block;
}
.mp-info-index__nav__item > a::before {
  content: none;
}
.mp-info-index__nav__item > a > article {
  border: solid 2px var(--color-brand-green);
  border-radius: 10px;
  min-height: 200px;
}
@media (min-width: 48rem) {
  .mp-info-index__nav > ul {
    list-style: none;
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 15px 20px;
  }
  .mp-info-index__nav__item {
    flex: 0 0 48%;
  }
}
/* hover */
.mp-info-index__nav__item > a:hover header > div {
  color: var(--color-brand-orange);
}
.mp-info-index__nav__item header {
  background-color: var(--color-brand-green);
  border-radius: 6px 6px 0 0;
  color: var(--color-brand-white);
  padding: 12px;
  display: flex;
  height: 65px;
  align-items: center;
}
.mp-info-index__nav__item header > div {
  flex: 0 0 26%;
  height: 50px;
  display: flex;
  background-color: var(--color-brand-white);
  border-radius: 8px;
  color: var(--color-brand-green);
  justify-content: center;
  align-items: center;
  gap: 4px;
  margin-right: 15px;
}
.mp-info-index__nav__item header h3 {
  color: var(--color-brand-white);
  font-size: var(--font-size-s);
  font-weight: 700;
  margin: 0;
}
.mp-info-index__nav__item > a > article > div {
  padding: 10px 15px 0 10px;
  font-size: var(--font-size-xs);
  margin: 0;
}

.mp-info-index__nav__item h3 {
  font-size: var(--font-size-m);
  text-align: center;
  margin: 0 0 10px 0;
}
.mp-info-page__inner.index ul {
  list-style: none;
}

/* Page */
.mp-info-page__inner {
  margin: 0 auto;
  background-color: var(--color-brand-white);
  box-shadow: 0px 0px 4px 0px rgba(88, 63, 25, 0.2);
  padding: 15px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  border-radius: var(--radius-sm);
}
.mp-info-page__inner > div h3 {
  color: var(--color-brand-green);
  font-size: var(--font-size-l);
  margin-top: 20px;
  margin-bottom: 0;
}
.mp-info-page__inner__box {
  margin: 14px 0 14px 0;
  padding: 14px;
}
.mp-info-page__inner__box h4 {
  margin-bottom: 0;
  font-size: var(--font-size-m);
}
.mp-info-page__inner__box p {
  margin: 0;
}
@media (min-width: 48rem) {
  .mp-info-page__inner {
    max-width: 700px;
    box-shadow: 0px 0px 4px 0px rgba(88, 63, 25, 0.2);
    padding: 30px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: var(--radius-small);
    font-size: var(--font-size-m);
  }
  .mp-info-page__inner li {
    padding: 10px;
  }
  .mp-info-page__inner ul {
    list-style: outside;
    padding-left: 14px;
  }
}

/* examples */
.mp-info-page__inner__ex {
  margin: 14px 0 14px 0;
  padding: 10px;
  border: 1px solid var(--color-brand-orange);
  border-radius: 8px;
  background-color: var(--color-brand-cream);
}

/* details */
.mp-info-page__inner details {
  margin: 20px 0;
}

.mp-info-page__inner > div > details h3 {
  display: inline-block;
  color: var(--color-brand-green);
  font-size: var(--font-size-l);
  margin: 0;
  margin-bottom: 0;
}
/* table */
.mp-info-page__inner > div table {
  margin: 20px 0;
}
.mp-info-page__inner > div table,
.mp-info-page__inner > div table td {
  padding: 5px 10px;
  border: 1px solid grey;
  border-collapse: collapse;
}
