/*
* Video Calls
*/

/* ----- index page ----- */
.mp-video-index {
  max-width: 600px;
  margin: 0 auto;
}
.mp-video-index__msg {
  padding: 0 0 30px 0;
}
.mp-video-index__msg > p {
  margin: 0 0 4px 0;
  font-size: var(--font-size-s);
}
.mp-video-index__links {
  max-width: 400px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.mp-video-index__button_inner {
  display: flex;
  gap: 15px;
  align-items: center;
}

/* ----- detail page ----- */
.mp-video-detail {
  min-height: calc(100vh - 90px);
  border-radius: 50px;
}
.mp-video-detail__video {
  border-radius: 50px;
}
.mp-video-detail__video > iframe {
  width: 100%;
  height: calc(100vh - 90px);
  border: 0;
  border-radius: var(--radius-small);
}
