/** 
* Footer
*/
.c-footer {
  position: relative;
  z-index: 1;
  margin-top: auto;
  background-color: var(--color-brand-beige);
  padding: 30px 0 80px 0;
}
/* cols and layout */
.c-footer__branding-col {
  grid-column: 1/16;
  display: flex;
  flex-direction: column;
  order: 2;
}
.c-footer__links-col {
  grid-column: 1/16;
  order: 1;
}
@media (min-width: 48rem) {
  .c-footer__branding-col {
    grid-column: 1/10;
    order: 0;
  }
  .c-footer__links-col {
    grid-column: 11/16;
    order: 0;
  }
}
@media (min-width: 64rem) {
  .c-footer__branding-col {
    grid-column: 1/9;
  }
  .c-footer__links-col {
    grid-column: 9/16;
    display: flex;
    justify-content: space-between;
    gap: 15px;
  }
}
@media (min-width: 96rem) {
  .c-footer__branding-col {
    grid-column: 3/9;
  }
  .c-footer__links-col {
    grid-column: 9/14;
    gap: 50px;
  }
}

/* logo */
.c-footer__logo {
  order: 2;
  display: flex;
  justify-content: center;
  padding: 80px 0 60px 0;
}
.c-footer__logo > a::before {
  content: none;
}
.c-footer__logo img {
  width: 220px;
}
a.c-footer__logo {
  display: block;
  width: 220px;
}
a.c-footer__logo::before {
  content: none;
}
@media (min-width: 48rem) {
  .c-footer__logo {
    order: 1;
    padding: 0 0 60px 0;
    justify-content: flex-start;
  }
}
/* social */
.c-footer__socials {
  margin-top: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  gap: 10px;
  order: 1;
}
.c-footer__socials > div {
  display: flex;
  flex-direction: column;
  gap: 10px;
}
a.c-footer__social {
  background-color: var(--color-brand-cream);
  display: flex;
  justify-content: flex-start;
  align-items: center;
  font-size: var(--font-size-s);
  font-family: var(--font-en-primary);
  font-weight: var(--font-w-semi-bold);
  padding: 10px 16px;
  border-radius: 10px;
}
a.c-footer__social::before {
  content: none;
}
.c-footer__social.instagram {
  width: 272px;
}
.c-footer__social.regular {
  width: 140px;
}
.c-footer__social > svg {
  flex-grow: 0;
  flex-shrink: 0;
  height: 18px;
  width: 18px;
  margin-right: 3px;
}
@media (min-width: 48rem) {
  .c-footer__social.instagram {
    width: 290px;
  }
  .c-footer__social.regular {
    width: 140px;
  }
}
@media (min-width: 64rem) {
  .c-footer__social.instagram {
    width: 290px;
  }
  .c-footer__social.regular {
    width: 140px;
  }
}
@media (min-width: 96rem) {
  a.c-footer__social {
    padding: 16px 20px;
  }
  .c-footer__social.instagram {
    width: 290px;
  }
  .c-footer__social.regular {
    width: 140px;
  }
  .c-footer__social > svg {
    height: 24px;
    width: 24px;
    margin-right: 5px;
  }
}
/* copyright */
.c-footer__copyright {
  padding-top: 20px;
  order: 3;
}
.c-footer__copyright > p {
  font-size: var(--r12px);
  margin-bottom: 0;
}
/* links */
.c-footer__links-col a {
  color: var(--color-brand-brown);
}
.c-footer__links-col a::before,
.footer__branding-col a::before {
  content: none;
}
.c-footer__links-col ul {
  padding: 0 0 20px 0;
  margin: 0;
  list-style: none;
}
.c-footer__links-col li {
  white-space: nowrap;
  font-size: var(--font-size-s);
}
.c-footer__links-col h3 {
  color: var(--color-brand-brown);
  margin: 0 0 10px 0;
  line-height: 1.2;
  font-size: var(--font-size-l);
}
@media (min-width: 64rem) {
  .c-footer__links-col ul {
    padding: 0 0 40px 0;
  }
}
